<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByygErXpki6Q7NXOXTHbRgg3-Tw-KCVO0</string>
	<key>GCM_SENDER_ID</key>
	<string>953923151748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.nostrlabs.zap-stream</string>
	<key>PROJECT_ID</key>
	<string>nostrlabs</string>
	<key>STORAGE_BUCKET</key>
	<string>nostrlabs.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953923151748:ios:aef9c54f556258d39e9fd1</string>
</dict>
</plist>